data/
a-The-simulated-ENSO-related-SST-anomalies-derived-from-the-EOF-analysis-and-b.png
C:\Users\usuario\Desktop\master\asignaturas\Analisis de Datos\practicas\practica_3\Guion_practica32022_2023.pdf
Leading_mode_SST_SLP_sep.npy
