data/
a-The-simulated-ENSO-related-SST-anomalies-derived-from-the-EOF-analysis-and-b.png
C:\Users\usuario\Desktop\master\asignaturas\Analisis de Datos\practicas\practica_3\Guion_practica32022_2023.pdf
Leading_mode_SST_SLP_sep.npy
img/expansion_coefs.png
img/niña.png
img/output.png
img/slp/cof_expansion.png
img/slp/mapa.png
img/slp/slp.png
Leading_mode_SST_SLP_sep.npy
